body{
    margin: 0;
}

.box2{
    width: 218px;
    height: 218px;
    background-color: #0500FF;
    float: right;
    display: flex;
}

.box1{
    width: 218px;
    height: 218px;
    background-color: #FE0303;
}

